<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
         <link rel="icon" href="/img/weather.png">
        {{!-- <script src="/js/fs.js"></script> --}}
    </head>
    <body>

        <div class="main"> 
                   {{>header}}
  
      <p>{{error}}</p> 
      
        </div>
        {{>footer}}
    </body>
</html>