<!DOCTYPE html>
<html>
    <title>
        ABOUT
    </title>
    <head>
            <link rel="stylesheet" href="/css/style.css">
 <link rel="icon" href="/img/weather.png">
    </head>
    <body>
    <div class="main">
                {{>header}}
         <p>This site was created by Aniket rao. It uses data from mapbox.com and darksky.net!</p>

        <img src="/img/ani.jpg">
         {{!-- <p>Created by {{name}}</p>  --}}

    </div>

              {{>footer}}   
    </body>
</html>