<!DOCTYPE html>
<html>
    <title>HELP</title>
    <head>
            <link rel="stylesheet" href="/css/style.css">
          <link rel="icon" href="/img/weather.png">
    </head>
    <body>

     <div class="main">
        {{>header}}
        
        <p>{{helptext}}</p>
     </div>

    {{>footer}}

    </body>
</html>